*{
    margin: 0;
    padding: 0;
}

.level1bg {
    background-color: #9ec5e4; 
    left: 0px;
    width: 100%;
}

.frame{
	border: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	z-index: 999;
}
.img-xyz {
    display: block;
    height: auto;
    max-width: 1024px;
    width: 100%;
}
.level1{
    height: 1024px;
    width: 1024px;
    margin:0 auto;
}

.level1 .level1-font1{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 400px;
    padding-left: 450px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.level1 .level1-font2{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 800px;
    padding-left: 450px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.level2bg {
    background-color: #587999; 
    left: 0px;
    width: 100%;
}

.level2{
    height: 1024px;
    width: 1024px;
    margin:0 auto;
}

.level2 .level2-font1{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 200px;
    padding-left: 250px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.level2 .level2-font2{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 250px;
    padding-left: 280px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.level3bg {
    background-color: #456685; 
    left: 0px;
    width: 100%;
}

.level3{
    height: 1024px;
    width: 1024px;
    margin:0 auto;
}

.level3 .level3-font1{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 320px;
    padding-left:50px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.level3 .level3-font2{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 370px;
    padding-left: 80px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.level3 .level3-font3{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 820px;
    padding-left:50px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.level3 .level3-font4{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 870px;
    padding-left: 80px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.level4bg {
    background-color: #0c2a45; 
    left: 0px;
    width: 100%;
}

.level4{
    height: 1024px;
    width: 1024px;
    margin:0 auto;
}

.level4 .level4-font1{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 320px;
    padding-left:570px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.level4 .level4-font2{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 370px;
    padding-left: 590px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.level4 .level4-font3{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 620px;
    padding-left:480px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #6982a0;
}

.level4 .level4-font4{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 670px;
    padding-left:500px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #6982a0;
}

.level5bg {
    background-color: #051e34; 
    left: 0px;
    width: 100%;
}

.level5{
    height: 1024px;
    width: 1024px;
    margin:0 auto;
}

.level5 .level5-font1{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 230px;
    padding-left:210px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: rgb(175, 173, 173);
    font-style:oblique;
    transform: rotate(1.7deg);
}

.level5 .level5-font2{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 260px;
    padding-left:210px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: rgb(175, 173, 173);
    font-style:oblique;
    transform: rotate(1.7deg);
}

.level5 .level5-font3{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top:420px;
    padding-left:210px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: rgb(175, 173, 173);
    font-style:oblique;
    transform: rotate(1.7deg);
}

.level5 .level5-font4{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 470px;
    padding-left:210px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: rgb(175, 173, 173);
    font-style:oblique;
    transform: rotate(1.7deg);
}

.level5 .level5-font5{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 520px;
    padding-left:210px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: rgb(175, 173, 173);
    font-style:oblique;
    transform: rotate(1.7deg);
}

.level5 .level5-font6{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 570px;
    padding-left:210px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: rgb(175, 173, 173);
    font-style:oblique;
    transform: rotate(1.7deg);
}

.level6bg {
    background-color: #03182c; 
    left: 0px;
    width: 100%;
}

.level6{
    height: 1024px;
    width: 1024px;
    margin:0 auto;
}

.level6 .level6-font1{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 70px;
    padding-left:410px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color:#d5b64a;
}

.level6 .level6-font2{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 120px;
    padding-left:410px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #d5b64a;
}

.level6 .level6-font3{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top:400px;
    padding-left:510px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #d5b64a;
}

.level6 .level6-font4{
    position:absolute;
    z-index:3;
    top:500;
    left:20;
    padding-top: 470px;
    padding-left:510px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #d5b64a;
}